body {
  padding-top: 50px;
}

.bGimg{
	background: url(../img/algo.jpg) no-repeat  50% 50%;
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron{
	height:350px;
	margin: 50px; /*removed the blank space under the JMBTRN*/
	
	border-radius:;
	background-color: #666;
	
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}

.bg1{
	background-color: rgba(200, 200, 200, 0.75);
	display: inline-block;
}

.paddy{
	background-color: #333;
	padding: ;
	color: white;
}
.bg2{
	
}

.btn{
	margin-bottom: 20px;
}